
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    min-height: 150px;
    width: 100%;
    z-index:1;
    cursor: crosshair;
}

#identify-latlng {
    width: 160px;
}

#identify-error {
    margin-top: 16px;
}

#identify-result {
    margin-top: 16px;
}

#search-input {
    width: 220px;
}

#search-result {
    margin-top: 16px;
}

.form-error {
    color: red;
}

.form-label {
    font-weight: bolder;
    margin-top: 4px;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    /* STJ přepsán výchozí leaflet styl
    bez ramecku, pro sjednoceni stylu ovladacich prvku*/
    /*border: 2px solid rgba(0,0,0,0.2);*/
    border: none;
}

.pane-content {
    margin-top:12px;
}

.spinner {
    font-size: 24px;
    color: #666;
    margin-top:12px;
}


.search-result-row {
    width: 220px;
    margin-bottom: 10px;
}

.search-result-info {
    width: 180px;
    min-height: 40px;
    padding: 6px;
    cursor: pointer;
    float: left;
}

.search-result-info:hover {
  background-color: #eeeeee;
}

.search-result-adresa {
    font-size: 14px;
    /*float: left;
    height: 100%;*/
    width: 180px;
}

.search-add-udalost {
    font-size: 22px;
    float: right;
    cursor: pointer;
    padding-top: 8px;
}

.search-add-udalost:hover {
  color: #ff0000;
}
